{% extends 'base/main.html' %}

{% block content%}


<div class="header-bar">

    <h1>Details </h1>
</div>

    <div class="card-body">

 <table>
            <tr><td><b>SERVICE</b>: {{detail.service}}</td></tr>
            <tr><td><b>SYSTEM</b>: {{detail.systeme}}</td></tr>
            <tr> <td><b>CHECK</b> : {{detail.check}}</td></tr>
            <tr><td><b>DATE</b> : {{detail.create}}</td></tr>
            <tr><td><b>REMARQUE</b> :  {{detail.remarque}}</td></tr>
            <tr> <td> <b>ACTION</b> : {{detail.action}}</td></tr>
                  
                   
                    
                 

            </tr>


    </table>

    </div>
   
       
        
        
       
   
  
    
{% endblock content%}