<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <p>{{request.user}}</p>
        <a href="{% url 'logout' %}">logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {%endif%}

        <hr>
    <h1>LA LISTE {{color}}</h1>
<!-- Search -->
<form method="GET">
    <input type="text" name="search-area" value="{{search_input}}">
    <input type="submit" value="search">
</form>

    <a href="{% url 'create' %}">Ajouter taches</a>
    <table>
            <TR>
            <TH> ITEM</TH>

            </TR>
                {% for task in liste %}

                <tr>
                        <td>{{task.user}}</td><td>{{task.systeme}}</td><td><a href="{% url 'detail' task.id %}">detail</a>
                        </td><td><a href="{% url 'task-update' task.id %}">update</a></td>
                    </td><td><a href="{% url 'task-delete' task.id %}">delete</a></td>

                </tr>
                {% empty %}
                <h3>nn itm for list</h3>
                {% endfor %}
    </table>
    
</body>
</html>